<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Вход</title>
</head>
<body>
<div class="navbar">
    <div class="logo">BikeRental</div>
</div>
<div class="container">
    <h1>Вход</h1>
    <form action="/login" method="post">
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" class="button">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="/register" class="button">Регистрация</a></p>
</div>
</body>
</html>
